/* General styling for Crystal Game */
body {
	color:white;
}

.container-fluid {
	background-color: black;
	opacity: 0.85;
}

h2 {
	font-size: 20px;
}

/*Styling header*/

h1 {
	background-color: black;
	text-align: center;

}

#header {
	background-color: black;
	margin: 1% 0 2%; 
	padding-bottom: 1%;
}

/*Styling for rows with Target Score and Wins/Losses*/

#target {

	
}

#randomScoreTitle, #userScoreTitle {
	background-color: #bbb;
	color: black;
	text-align: center;
	width: 25%;
	height: 10%;
	margin: 0 5%;
}

.numbers {
	text-align: center;
	margin: 0 5%; 
	width: 25%;
	height: 10%;
}

.winsLossTitles {
	background-color: #bbb;
	color: black;
	text-align: center;
	width: 25%;
	height: 10%;
	margin: 0 5%;
}

.winsLoss {
	text-align: center;
	margin: 0 5%; 
	width: 25%;
	height: 10%;

}


/*Styling for rows with crystal images*/

#divImageOne, #divImageTwo, #divImageThree, #divImageFour {
	width: 500px; 
	height: 500px; 
	margin: 10px; 
	padding: 10px; 
	background-color: lightblue; 
	display: inline;
}

#crystals{
	padding: 1% 15% 2%; 
	margin: 4% 2% 2%;
	border-bottom: 1px solid #eee;

}

.divImage {

}

button {
  display: inline-block;
  padding: 4px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #777;
  border: none;
  border-radius: 60px;
  box-shadow: 0 2px #999;
}

button:hover {background-color: #eee}

button:active {
  background-color: lightblue;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

/*Styling for rows with rules*/

#rules {
	margin: 1% 1%;
	background-color: #bbb;
	color: black;
}


#rulesH2 {
	text-size: 50px;
	text-decoration: underline;
}

/*Styling for footer*/

#footer {
	text-align: center;
	padding: 5% 0 1%;
}

h5 {

}